# === DATASETS ===
data/
*.h5

# === PYTHON ===
__pycache__/
*.pyc
*.pyo

# === ENVIRONMENTS ===
venv/
.env/

# === JUPYTER NOTEBOOKS ===
.ipynb_checkpoints/

# === LOGS & TEMP FILES ===
*.log
*.tmp
*.bak
*.out

# === config.json ===
*config.json

